//intialize
@import '../../../_ntnx/variables';
@import '../../../_ntnx/mixins';

html {
  @include font;
  background-color: $light-grey-3;
  overflow-x: hidden;
  color:$font-color-1;
}

p{font:$p;}
h1{font:$h1}
h2{font:$h2}
h3{font:$h3}
h4{font:$h4}
span{font:$p}

.primary{
  appearance:none;
  @include primary();
}
