html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: #F2F4F6;
  overflow-x: hidden;
  color: #22272E;
}

p {
  font: 400 14px/22px "nutanix_soft", san-serif;
}

h1 {
  font: 200 29px/20px "nutanix_soft", san-serif;
}

h2 {
  font: 400 18px/12px "nutanix_soft", san-serif;
}

h3 {
  font: 500 14px/10px "nutanix_soft", san-serif;
}

h4 {
  font: 400 12px/8px "nutanix_soft", san-serif;
}

span {
  font: 400 14px/22px "nutanix_soft", san-serif;
}
